.main{
    height: 100svh;
    width: 1600px;
    background-color: black;
    position: relative;
}

.star{
    color: white;
    font-size: 30px;
    position: relative;
    left: 20px;
}

.star1{
    color: white;
    font-size: 30px;
    position: relative;
    left: 60px;
}

.star2{
    color: white;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 40px;
}

.house{
    height: 40%;
    width: 380px;
    position: absolute;
    background-color: moccasin;
    bottom: 10px;
    left: 50px;

}

.door{
    height: 195px;
    width: 100px;
    position: absolute;
    background-color: lightsalmon;
    bottom: 10px;
    left: 60px;
    box-shadow: 0px 0px 1px 2px;
}

.window{
    height: 90px;
    width: 120px;
    position: absolute;
    background-color: blue;
    left: 220px;
    bottom: 140px;
    box-shadow: 1px 1px 3px 1px black;

}

.top{
    height: 90px;
    width: 470px;
    position: absolute;
    background-color: darkgoldenrod;
    bottom: 280px;
    right: 1121px;
}

.d1{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color:  darkgoldenrod;
    border-top: 3px solid rgb(192, 177, 90);
}

.d2{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color:  darkgoldenrod;
    border-bottom: 3px solid rgb(192, 177, 90);
    position: relative;
    top: -87px;
    left: 88px;
}

.d3{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color:  darkgoldenrod;
    border-top: 3px solid rgb(192, 177, 90);
    position: relative;
    top: -177px;
    left: 176px;
}

.d4{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color:  darkgoldenrod;
    border-bottom: 3px solid rgb(192, 177, 90);
    position: relative;
    top: -264px;
    left: 264px;
}

.d5{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color:  darkgoldenrod;
    border-top: 3px solid rgb(192, 177, 90);
    position: relative;
    top: -356px;
    left: 352px;
}

.top1{
    height: 70px;
    width: 40px;
    position: absolute;
    background-color: white;
    bottom: 371px;
    left: 370px;
}

.tree{
    height: 230px;
    width: 49px;
    position: absolute;
    background-color: burlywood;
    left: 1090px;
    bottom: 10px ;
}

.leaf1{
    height: 130px;
    width: 100px;
    background-color: rgb(20, 93, 39);
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    left: 1111px;
    bottom: 170px;
}

.leaf2{
    height: 130px;
    width: 100px;
    background-color: rgb(20, 93, 39);
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    left: 1011px;
    bottom: 170px;
}

.leaf3{
    height: 130px;
    width: 100px;
    background-color: rgb(20, 93, 39);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 1065px;
    bottom: 240px;
}

.moon{
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 810px;
    bottom: 550px;
    box-shadow: 9px 2px 40px 3px gray;
}